// Fonts
$font-inter: "Inter", serif;
$font-poppins: "Poppins", serif;
$font-sans: "Public Sans", serif;
$font-manrope: "Manrope", serif;
$font-quik: "Quicksand", serif;

// Colors
$text-gray: #606060;
$text-white: #F9F9F9;
$text-black: #201F1F;
$text-violet: #5C4EAE;
$text-violet-light: #6C5FBC;
$text-gray-light: #C5BFED;
$color-line: #CBCBCB;
$color-67: #676767;
$color-titles: #18181B;
$color-lists: #ADADAD;
$color-text-lists: #323142;
$color-text-lists-2: #686868;
$color-get50: #dedcef;
$color-footer: #EAEAEA;
$color-footer-text: #999999;
$color-f5: #F5F5F5;





$color-blog-card: #252525;
$color-blog-text: #8D8D8D;



